{% extends "personal/header.html" %}
{% load staticfiles %}
{% block content %}
  <div class="about-me"  style="height:95%; display:flex; justify-content:center">
      <div style="font-family:monotype corsiva; align-self:center; background-color:#5bc0de; box-shadow:5px 5px 5px rgba(0,0,0,0.4)">
        <center>
          <h3 style="width:60%">
            Hi! Welcome to my website. I'm a programmer pursuing final year at R.V. College Of Engineering, Bangalore.
            <br>
            I love coding and passionate about learning new stuff. This website is one such product (created while learning Django Framework).
          </h3>
        </center>
      </div>
  </div>
{% endblock %}
